<p-button label="Volver" [routerLink]="['/expense']" />

<form [formGroup]="myForm" (ngSubmit)="enviar()">
    <p>Título</p>
    <input pInputText formControlName="title" />
    <p *ngIf="title!.invalid && title!.touched"> Debes completar este campo</p>
    <p>Monto</p>
    <p-inputNumber inputId="currency-ar" formControlName="amount" mode="currency" currency="ARS" locale="es-AR"></p-inputNumber>
    <p *ngIf="amount!.invalid && amount!.touched"> Debes completar este campo</p>
    <p>Descripción</p>
    <input pInputText formControlName="description" />
    <p *ngIf="description!.invalid && description!.touched"> Debes completar este campo</p>
    <p>Fecha</p>
    <p-datepicker formControlName="date" />




    <p-button [disabled]="myForm.invalid" type="submit" >Enviar</p-button>

</form>
<router-outlet></router-outlet>
