<div class="card" >
  <p-table [value]="expenses" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Gasto</th>
        <th>Monto</th>
        <th>Fecha</th>
        <th>
          <p-button label="Agregar gasto" [routerLink]="['/expense/add']" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expense>
      <tr>
        <td>{{ expense.title }}</td>
        <td>$ {{ expense.amount }}</td>
        <td>{{ expense.date | date:'dd/MM/yyyy' }}</td>
        <td><p-button icon="pi pi-eye" styleClass="p-button-info" [routerLink]="['/expense/', expense.id]" /></td>
      </tr>
    </ng-template>
  </p-table>
</div>

<router-outlet></router-outlet>
