<div class="card-container">
  <form [formGroup]="myForm" (ngSubmit)="signIn()">
    <div class="flex flex-col md:flex-row">
      <div
        class="w-full md:w-5/12 flex flex-col items-center justify-center gap-3 py-5"
      >
        <div class="flex flex-col gap-2">
          <label for="username">Username: </label>
          <input
            pInputText
            formControlName="username"
            id="username"
            type="text"
          />
          <p *ngIf="username!.invalid && username!.touched">
            Debes completar este campo
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <label for="password">Password: </label>
          <input
            pInputText
            formControlName="password"
            id="password"
            type="password"
          />
          <p *ngIf="password!.invalid && password!.touched">
            Debes completar este campo
          </p>
        </div>
        <div class="flex">
          <p-button
            label="Login"
            icon="pi pi-user"
            class="w-full max-w-[17.35rem]"
            styleClass="w-full mx-auto"
            [disabled]="myForm.invalid"
            type="submit"
          />
        </div>
      </div>
    </div>
  </form>
</div>
